@media only screen and (max-width: 536px) {
       #Hi{
        font-size: 3.2em;
        text-align: center;
       }
       .mobile_size{
          text-align: center;
       }
      
      .navbar-nav{
         margin-top: 40px;
         background-color: #141b23;
         opacity: 0.7;
      }
      .checkoutme li.active{
         font-size: 25px;
       }
      
  }
 